.board {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    border-style: dashed;
    border-width: 1px;  
    padding: 10px;
}