.board {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-content: center;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    border: 2px dashed #edeaea;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    padding: 10px;
    font-size: 140px;
    font-family: 'Gaegu', cursive;
    color: #3f3d3d;
    text-align: center;
}
